body {
    background: rgb(255, 253, 247);
}

.clock {
    border: 2px solid ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #620065;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    padding: 16px;
}